/* Cards */
.callout[data-callout~=cards] {
    --callout-color: transparent;
    --callout-icon: layout-dashboard;
    --callout-padding: 0;
    --callout-content-padding: 0px;
    --callout-blend-mode: normal;
    --callout-cards-columns: 3;
    box-shadow: none;
    border: 0;
    width: auto;
  }
  .callout[data-callout~=cards] > .callout-title {
    display: none;
  }
  .callout[data-callout~=cards] > .callout-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    border-radius: 0;
    padding-inline-start: 0px;
    padding: 0;
  }
  .callout[data-callout~=cards] p {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
  }
  .callout[data-callout~=cards]:not([data-callout-metadata~=nstr], [data-callout-metadata~=no-strong]) strong {
    display: block;
    text-align: center;
    margin: auto;
    background-color: var(--outer-bar, var(--background-secondary));
  }
  .callout[data-callout~=cards] br {
    display: none;
  }
  .callout[data-callout~=cards][data-callout-metadata~=flex] > .callout-content, .callout[data-callout~=cards][data-callout-metadata~=flex] .dataview.table-view-table tbody {
    gap: unset;
    grid-template-columns: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .callout[data-callout~=cards][data-callout-metadata~=flex] > .callout-content .callout, .callout[data-callout~=cards][data-callout-metadata~=flex] .dataview.table-view-table tbody .callout {
    flex: 1 1 250px;
    margin: 5px;
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview] {
    --callout-content-padding: 0;
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview] .callout-content {
    display: unset;
    grid-template-columns: unset;
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview] br {
    display: block;
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview] .block-language-dataview {
    padding: 5px;
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview] .dataview.table-view-table {
    display: grid;
    margin-block-start: 0;
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview] .dataview.table-view-table :is(td, tr) {
    border: 0;
    background: transparent;
    padding: 0;
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview] .dataview.table-view-table strong {
    background: transparent;
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview] .table-view-thead th {
    border: 0;
    background-color: transparent;
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview] .table-view-thead tr {
    display: none;
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview] .dataview.table-view-table tbody {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview] .dataview.table-view-table tbody tr {
    display: grid;
    align-content: flex-start;
    margin: 0;
    padding: 10px;
    border: 2px solid var(--outline, var(--background-modifier-box-shadow));
    box-shadow: var(--shadow-ml, var(--input-shadow));
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview] img:not(.link-favicon) {
    width: 100%;
    object-fit: cover;
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview][data-callout-metadata~=img-micro] img {
    height: var(--micro);
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview][data-callout-metadata~=img-tiny] img {
    height: var(--tiny);
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview][data-callout-metadata~=img-small] img {
    height: var(--small);
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview][data-callout-metadata~=img-small-med] img {
    height: var(--small-med);
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview][data-callout-metadata~=img-med-small] img {
    height: var(--med-small);
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview][data-callout-metadata~=img-medium] img {
    height: var(--medium);
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview][data-callout-metadata~=img-med-tall] img {
    height: var(--med-tall);
  }
  .callout[data-callout~=cards][data-callout-metadata~=dataview][data-callout-metadata~=img-tall] img {
    height: var(--tall);
  }
  .callout[data-callout~=cards][data-callout-metadata~=dvl] .callout-content {
    display: block;
  }
  .callout[data-callout~=cards][data-callout-metadata~=dvl] br {
    display: unset;
  }
  .callout[data-callout~=cards][data-callout-metadata~=dvl] .block-language-dataviewjs .dataview-result-list-li, .callout[data-callout~=cards][data-callout-metadata~=dvl] .list-view-ul li {
    padding: 10px;
    background-color: var(--outer-bar, var(--background-secondary));
    box-shadow: var(--shadow-s, var(--input-shadow));
    margin-bottom: 5px;
  }
  .callout[data-callout~=cards][data-callout-metadata~=dvl] .dataview.list-view-ul li::before {
    margin-left: -27px;
  }
  .callout[data-callout~=cards][data-callout-metadata~=dvl] ul {
    padding-inline-start: unset;
  }
  .callout[data-callout~=cards][data-callout-metadata~="1"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
    grid-template-columns: repeat(1, 1fr);
  }
  .callout[data-callout~=cards][data-callout-metadata~="2"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
    grid-template-columns: repeat(2, 1fr);
  }
  .callout[data-callout~=cards][data-callout-metadata~="3"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
    grid-template-columns: repeat(3, 1fr);
  }
  .callout[data-callout~=cards][data-callout-metadata~="4"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
    grid-template-columns: repeat(4, 1fr);
  }
  .callout[data-callout~=cards][data-callout-metadata~="5"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
    grid-template-columns: repeat(5, 1fr);
  }
  .callout[data-callout~=cards][data-callout-metadata~="6"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
    grid-template-columns: repeat(6, 1fr);
  }
  .callout[data-callout~=cards][data-callout-metadata~="7"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
    grid-template-columns: repeat(7, 1fr);
  }
  .callout[data-callout~=cards][data-callout-metadata~="8"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
    grid-template-columns: repeat(8, 1fr);
  }
  .callout[data-callout~=cards][data-callout-metadata~="9"] :is(.dataview.dataview.table-view-table tbody,
  .callout-content.callout-content) {
    grid-template-columns: repeat(9, 1fr);
  }
  
  .view-content > div:is(.markdown-source-view, .markdown-reading-view) > div {
    container: note/inline-size;
  }
  
  @container note (max-width: 700px) {
    .callout[data-callout~=cards][data-callout-metadata~=dataview] .dataview.table-view-table tbody {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @container note (max-width: 400px) {
    .callout[data-callout~=cards][data-callout-metadata~=dataview] .dataview.table-view-table tbody {
      grid-template-columns: repeat(1, 1fr);
    }
  }