footer {
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-top: 8rem;
    text-align: left;
    opacity: .7;
}

footer > ul {
    display: flex; 
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none !important;
}

footer:not(.list-default-bullet) .is-live-preview .cm-formatting-list-ul::before, footer:not(.list-default-bullet) ul > li:not(.task-list-item)::before {
    content: none;
  }
