#MJ-site-footer div {
    display: block;
    max-width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 4rem;
    text-align: left;
}

#Mj-site-footer div > ul {
    display: flex !important; 
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
}
