#MJ-site-footer div {
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 4rem;
}

#Mj-site-footer > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
}
