.MJ-Site-Logo a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

@media (max-width: 800px) {
    .MJ-Site-Logo a img {
        width: 36px;
    }
}
