<footer>

<hr>

<p>Created with <a href="https://dg-docs.ole.dev/">Digital Garden</a> and authored in <a href="https://obsidian.md/">Obsidian.md</a>.</p>
<p>Comments powered by <a href="https://giscus.app/">Giscus</a></p>

<ul>
<li><a href="https://github.com/MasssiveJuice08/morrowind-modding-with-massivejuice">Website Github</a></li>
<li><a href="https://github.com/MasssiveJuice08/Morrowind-Modding-with-MassiveJuice_Content">Content Github</a></li>
</ul>

</footer>
